video.mse {
    background: linear-gradient(black, grey, black);
    border: 1px solid black !important;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.75);
    margin: 1px;
    padding: 1px;
    pointer-events: none;
}

div {
    float: left;
    text-align: center;
}

div.video {
    float: left;
    background: tomato;
    display: inline-block;
    position: relative;
    margin: 1px;
    padding: 1px;
}

div.video:fullscreen {
    width: 100%;
    height: 100%;
    background: red;
}

div.video:-moz-full-screen {
    width: 100%;
    height: 100%;
    background: green;
    margin: 0%;
    padding: 0%;
}

div.video:-moz-full-screen video.mse {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

div.video:-webkit-full-screen {
    width: 100%;
    height: 100%;
    background: blue;
    margin: 0%;
    padding: 0%;
}

div.video:-webkit-full-screen video.mse {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

div.video:hover button.startstop, div.video:hover button.fullscreen {
    display: block;
}

div.video:fullscreen video.mse {
    width: 100%;
    height: 100%;
}

button.startstop {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    opacity: 0.3;
    /*z-index: 2147483647;*/
}

button.fullscreen {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    opacity: 0.3;
    /*z-index: 2147483647;*/
}

button.fullscreen:hover, button.startstop:hover {
    opacity: 1;
}

button.fullscreen:active, button.startstop:active {
    opacity: 0.6;
}

/*video::-webkit-media-controls {
    display:none !important;
}

video::-webkit-media-controls-enclosure {
    display:none !important;
}

video::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-play-button, video::-webkit-media-controls-pausebutton {
    display: none !important;
}*/


/*div.videoDiv:nth-child(2), div.videoDiv:nth-child(3) {
    flex: 1 0 50%;
}

div.videoDiv:first-child {
    flex: 0 1 100%;
}

div.videoDiv video {
    pointer-events: none;
}*/

/*video::-webkit-media-controls {
    display: none;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-play-button, video::-webkit-media-controls-pausebutton {
    display: none;
}

video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-volume-slider {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: none;
}

video::-webkit-media-controls-current-time-display {
    display: none;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

video {
    pointer-events: none;
}*/