div.container {
    position: relative;
    float: left;
    display: inline-block;
    background: linear-gradient(black, grey, black);
    margin: 1px;
}

/* bug: pseudo selectors for :fullscreen, :-moz-full-screen, and :-webkit-full-screen cannot be grouped together */

div.container:fullscreen {
    width: 100%;
    height: 100%;
}

div.container:-moz-full-screen {
    width: 100%;
    height: 100%;
}

div.container:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

video.mse {
    pointer-events: none;
    cursor: none;
}

div.container:fullscreen video.mse {
    width: 100%;
    height: 100%;
}

div.container:-moz-full-screen video.mse {
    width: 100%;
    height: 100%;
}

div.container:-webkit-full-screen video.mse {
    width: 100%;
    height: 100%;
}

div.controls {
    position: absolute;
    background: black;
    border: 1px solid white;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 3px;
    border-radius: 5px;
    opacity: 0;
}

div.controls:hover {
    opacity: 0.8;
}

div.controls button {
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.8;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 1px;
}

div.controls button:hover {
    opacity: 1;
}

div.controls button:active {
    opacity: 0.6;
}

button.start, button.stop {
    float: left;
}

button.start:before {
    font-family: FontAwesome;
    content: "\f04b";
}

button.stop:before {
    font-family: FontAwesome;
    content: "\f04d";
}

button.fullscreen {
    float: right;
}

div.container:fullscreen div.controls {
    border: 2px solid white;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 6px;
    border-radius: 10px;
}

div.container:-moz-full-screen div.controls {
    border: 2px solid white;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 6px;
    border-radius: 10px;
}

div.container:-webkit-full-screen div.controls {
    border: 2px solid white;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 6px;
    border-radius: 10px;
}

div.container:fullscreen button {
    font-size: 32px;
}

div.container:-moz-full-screen button {
    font-size: 32px;
}

div.container:-moz-full-screen button.fullscreen:before {
    font-family: FontAwesome;
    content: "\f066";
}

div.container:-webkit-full-screen button {
    font-size: 32px;
}

div.container:-webkit-full-screen button.fullscreen:before {
    font-family: FontAwesome;
    content: "\f066";
}

button.fullscreen:before {
    font-family: FontAwesome;
    content: "\f065";
}